<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td>Технология</td>
      <td>{{ product.dioganal }}</td>
    </tr>
    <tr>
      <td>Расстояние детекции датчиков</td>
      <td>{{ product.sensor_detection_distance }}</td>
    </tr>
   <tr>
      <td>Расстояние детекции меток</td>
      <td>{{ product.tag_detection_distance }}</td>
    </tr>
  <tr>
      <td>Рабочая частота</td>
      <td>{{ product.operating_frequency }}</td>
    </tr>
  <tr>
      <td>Индикация тревоги</td>
      <td>{{ product.alarm_indication }}</td>
    </tr>

  </tbody>
</table>
</body>
</html>
