<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td>Вес</td>
      <td>{{ product.weight }}</td>
    </tr>
    <tr>
      <td>Габариты</td>
      <td>{{ product.dimensions }}</td>
    </tr>
    <tr>
      <td>Зона подсчета</td>
      <td>{{ product.counting_zone }}</td>
    </tr>
  <tr>
      <td>Звуковая индикация перекрытий</td>
      <td>{{ product.audible_indication_of_overlaps }}</td>
    </tr>
    <tr>
      <td>Контроль внештатных ситуаций</td>
      <td>{{ product.monitoring_of_emergency_situations }}</td>
    </tr>
  <tr>
      <td>Питание</td>
      <td>{{ product.power }}</td>
    </tr>
    <tr>
      <td>Память устройства</td>
      <td>{{ product.device_memory }}</td>
    </tr>
  <tr>
      <td>Режим подсчета</td>
      <td>{{ product.counting_mode }}</td>
    </tr>
    <tr>
      <td>Световая индикация проходов</td>
      <td>{{ product.light_indication_of_passages }}</td>
    </tr>
  <tr>
      <td>Способ настройки</td>
      <td>{{ product.setting_up_method }}</td>
    </tr>
    <tr>
      <td>Способ передачи данных</td>
      <td>{{ product.data_transfer_method }}</td>
    </tr>
  <tr>
      <td>Хранение данных</td>
      <td>{{ product.data_storage }}</td>
    </tr>
    <tr>
      <td>Гарантия и сервисное обслуживание</td>
      <td>{{ product.warranty }}</td>
    </tr>
    <tr>
      <td>Производитель</td>
      <td>{{ product.manufacturer }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>